/* 
    Document   : StyleFamily
    Created on : 13-feb-2014, 18:21:25
    Author     : Miki
    Description:
        Purpose of the stylesheet follows.
*/

#boton-familias{
    
    background: none repeat scroll 0 0 #FFB400;
}

