/* 
    Document   : ProductStyles
    Created on : 13-ene-2014, 9:37:25
    Author     : alumno
    Description:
        Purpose of the stylesheet follows.
*/

#tabla-empleados{
    
    background: none repeat scroll 0 0 #9D4A9C;
}
