/* 
    Document   : WorkPlaceStyle
    Created on : 13-feb-2014, 19:30:15
    Author     : Miki
    Description:
        Purpose of the stylesheet follows.
*/

#boton-puestos{
    
    background: none repeat scroll 0 0 #404040;
}