/* 
    Document   : ProductsStyle
    Created on : 11-feb-2014, 22:25:22
    Author     : Miki
    Description:
        Purpose of the stylesheet follows.
*/

#tabla-productos{
    
    background: none repeat scroll 0 0 #4A8BC2;
}
